.committees{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
    overflow: visible;

    margin: 0 auto;
    margin-bottom: 1.5rem;
    width: 80%;
}
.committee{
    position: relative;
    padding: 1.25rem;
}
.committee > img{
    height: 40vh;

    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.committee > h1{
    margin: 0;
    font-size: 1.5rem;
}
.more-details{
    position: absolute;
    bottom: 0;
    display: block;
    margin: .5em 0 0 auto;
    left: 50%; 

    transform: translate(-50%, -50%);
    color: #A6302B;
}
.more-details:hover{
    color: #C96862;
    cursor: pointer;
}
.more-details:active{
    color: #8C1C13;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.agenda{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.agenda > *{
    text-align: left;
}
.agenda > h1{
    margin: 0;
    font-size: 1.5rem;
}
.agenda > div{
    display: flex;
    flex-direction: column;
}
.agenda > div > div > span{
    margin-right: 1ch;
    font-weight: bold;
}
.chairs{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.chair{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.chair > img{
    width: 30vh;
    height: 45vh;
    aspect-ratio: 2/3;
}
.title{
    display: flex;
    flex-direction: column;
}
.title > *{
    margin: 0;
}
.title > h1{
    font-size: 1.5rem;
}
.title > h3{
    font-size: 1rem;
}


@media screen and (max-width: 1024px){
    .committees{
        grid-template-columns: 1fr 1fr;
    }
    .committee > img{
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }
    .committee > h1{
        margin: 0;
        font-size: 1rem;
    }
    .chairs{
        flex-direction: column;
    }
}

@media screen and (max-width: 541px){
    .committees{
        grid-template-columns: 1fr;
    }
    .committee > img{
        width: 100%;
        height: auto;

    }
}

